# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
*.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ncrunch*
